* {
    margin: auto;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    background-color: rgb(83, 81, 81);
}

div {
    display: flex;
    justify-content: space-between;
}

.mobile {
    display: none;
}

.desktop {
    margin: 0;
    width: 100%;
}

.noPieceHere {
    background-color: #138f46;
}

td {
    text-align: center;
    background-color: #138f46;
    width: 40px;
    height: 40px;
}

.endArea {
    background-color: crimson;
}

.leftBorder {
    border-left: 5px solid;
    border-color: black;
}

.rightBorder {
    border-right: 5px solid;
    border-color: black;
}

.topBorder {
    border-top: 5px solid;
    border-color: black;
}

.bottomBorder {
    border-bottom: 5px solid;
    border-color: black;
}